body {
    font-family: Tahoma;
    /*text-align: center;*/
}

* {
    margin: 0;
    padding: 0;
}

#container {
    position: absolute;
    left: 50%;
    top: 0;
    width: 300px;
    height: auto;
    margin-top: 0;
    margin-left: -150px;
}

h1 {
    font-size: 1.5em;
    text-align: center;
    border-bottom: 5px solid black;
}

p {
    font-size: 12px;
}

#phrase,
#chat {
    font-size: 1.5em;
    padding: 4px 10px 4px 10px;
    margin: 10px 0 0 0;
    margin: auto;
}

#form {
    font-size: 1em;
}

#lancer,
.formbutton {
    font-size: 1em;
    padding: 4px 10px 4px 10px;
    background: #3480be;
    border: 1px solid #FFF;
    border-radius: 8px;
    margin: 10px 0 0 0;
    color: #FFF;
}

#lancer:hover {
    background: #00ff4c;
    border: 1px solid #3480be;
    color: #FFF;
}

.formbutton:hover {
    background: #00ff4c;
    border: 1px solid #3480be;
    color: #FFF;
}

#dice img {
    width: 120px;
    height: auto;
}

#bouton,
#commentaires,
#cartouches,
#des,
#lancer,
#phrase,
#chat,
#lancer,
.formbutton {
    text-align: center;
}