/* 
Sources : https://www.damienflandrin.fr/blog/post/tutoriel-realiser-un-menu-responsive-avec-flexbox 
Merci Damien !! 
*/

.nom-app {
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.options {
    width: 50px;
    right: 0;
    font-size: 1.2em;
    font-weight: 900;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav ul {
    margin: 0px;
    padding: 0px;
    background: rgb(71, 120, 255);
    list-style: none;
    color: white;
}

.nav a {
    padding: .2em;
    display: block;
    text-decoration: none;
    color: white;
}

.nav .menu {
    background: rgb(71, 71, 71);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.nav .menu .nom-app {
    position: absolute;
    top: 0;
    left: 0;
}

.has-children {
    position: relative;
}

.has-children:hover>.sous-menu {
    display: flex!important;
}

.sous-menu {
    display: none!important;
    flex-flow: column wrap;
    min-width: 150px;
    width: auto;
    position: absolute;
    right: 0;
    background: rgb(233, 180, 7);
}

.sous-menu.is-active {
    display: flex!important;
}

.sous-menu a {
    text-align: left;
    color: white;
}

.sous-menu li:hover {
    color: rgb(5, 177, 42);
    background: rgb(20, 43, 105);
}

.sous-menu .sous-menu {
    top: 0px;
    position: absolute;
    right: 50%;
    background: #1e76d6;
}

#cartouches ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

#cartouches ul li {
    padding: 0 10px 0 10px;
    margin: 0 5px 0 5px;
    display: inline;
    text-decoration: none;
    color: white;
    text-align: center;
    background: rgb(71, 120, 255);
}
