html,
body {
	margin: 0;
	padding: 0;
	background: #232323;
	color: white;
	font-family: sans-serif;
}
#ui {
	position: absolute;
	left: 20px;
	top: 20px;
	z-index: 10;
	background: rgba(30, 30, 30, 0.9);
	padding: 16px;
	border-radius: 10px;
	box-shadow: 0 2px 8px #0006;
	min-width: 300px;
}
#canvas {
	display: block;
	width: 100vw;
	height: 100vh;
}
#playersList span {
	margin-right: 1em;
	padding: 2px 6px;
	border-radius: 5px;
	background: #333;
	border: 1px solid #444;
	display: inline-block;
	margin-bottom: 3px;
}
.joueurActif {
	background: #00aaff;
	color: #fff;
	border: 1px solid #fff;
}
#diceHint {
	color: #ccc;
	margin-top: 8px;
	font-size: 13px;
}
#roll,
#startGame,
#nextTurn,
#phaseNext {
	margin: 6px 0;
	padding: 7px 20px;
	font-size: 1em;
	border-radius: 6px;
	border: none;
	background: #005f5f;
	color: #fff;
	cursor: pointer;
}
#roll[disabled],
#nextTurn[disabled] {
	opacity: 0.6;
	cursor: not-allowed;
}
#scores {
	margin-top: 8px;
}
.diceFige {
	outline: 3px solid #ffff00 !important;
}
